<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%=CourseName%>
    </title>
    <link rel="stylesheet" href="/assets/index.css">
    <link rel="stylesheet" href="/assets/Navbar.css ">
    <link rel="stylesheet" href="/assets/Courses.css">

</head>



<body>

    <%- include("./partials/StudentNavbar.ejs") %>

        <section class="Current-Courses">
            <h1 class="Courses-Heading">
                <%=CourseName%>
            </h1>
            <div class="Courses-Data">
                <% var mailInstructor="mailto:" + Instructor.Instructor_Email%>
                    <h5 class="Courses-Box" style="justify-content: center;">Instructer: <a href=<%=mailInstructor%>
                            class="link">
                            <%=Instructor.instructor_Name%>
                        </a>
                    </h5>
                    <h5 class="Courses-Box" style="justify-content: center;">Class Days: <%=Schedule.ClassDay%>
                    </h5>
                    <h5 class="Courses-Box" style="justify-content: center;">Class Timing: <%=Schedule.ClassTime%>
                    </h5>
                    <h5 class="Courses-Box" style="justify-content: center;">Duration: 02 Hours</h5>
                    <h5 class="Courses-Box" style="justify-content: center;">Classroom: <%=Schedule.Classroom%>
                    </h5>
            </div>
        </section>


</body>

</html>