<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Courses</title>

    <%- include("./partials/NavbarCSS.ejs") %>
        <%- include("./partials/defaultCSS.ejs") %>
            <%- include("./partials/CoursesCSS.ejs")%>
</head>

<body>
    <%- include("./partials/InstructorNavbar.ejs") %>

        <section class="Current-Courses">
            <h1 class="Courses-Heading">Current Courses</h1>
            <ul>
                <% Courses.forEach((course)=>{%>

                    <li class="Courses-Box">
                        <span>
                            <h5>
                                Course Name:
                                <%=course.CourseName%>
                            </h5>
                        </span>

                        <span class="Courses-Links" style="justify-content: flex-end;">
                            <button onclick='goToCourseInfo(<%=course.courseID%>)'>COURSE INFO</button>
                            <button onclick='goToClasses(<%=course.courseID%>)' type="button">CLASSES</button>
                        </span>
                    </li>

                    <% })%>
            </ul>
        </section>

        <script>

            const goToClasses = (courseID) => {

                window.location.href = "/InstructorClasses/" + courseID;

            }

            const goToCourseInfo = (courseID) => {
                window.location.href = "/InstructorCourses/" + courseID;
            }

        </script>

</body>

</html>