<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>

    <link rel="stylesheet" href="/assets/index.css">
    <link rel="stylesheet" href="/assets/Navbar.css"">
            <link rel=" stylesheet" href="/assets/Attendance.css">

</head>

<body>


    <%- include("./partials/InstructorNavbar.ejs") %>

        <section class="Attendance">

            <h1 class="Attendance-Heading-Box">Attendance Dated: <%=date%>
            </h1>
            <ul>
                <h1 class="Attendance-Heading-Box"></h1>
                <%Attendance.forEach((Attend,i)=>{%>
                    <li class="Attendance-Box" style="justify-content: space-between;">

                        <% for(var j=0; j < Attendance.length; j++){ if(Attend.StudentID==StudentList[j].StudentID){%>
                            <h5>

                                <%=StudentList[j].StudentName%> -
                                    <%=Attend.StudentID%>
                            </h5>
                            <%}}%>
                                <h5>
                                    <%=Attend.wasPresent%>
                                </h5>
                    </li>
                    <%})%>

            </ul>

            <button>Add New Attendance</button>

        </section>

</body>

<script>

</script>

</html>