<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/index.css">
    <link rel="stylesheet" href="/assets/Navbar.css">
    <link rel="stylesheet" href="/assets/Library.css">
</head>

<body>

    <%- include("./partials/StudentNavbar.ejs") %>

        <section class="Library">
            <span class="Library-Heading">
                <a class="Library-Heading-Box active-btn" id="library-btn" onclick="goToBooksAvailable()">Library</a>
                <a class="Library-Heading-Box" id="borrowed-btn" onclick="goToBooksBorrowed()">Books Borrowed</a>
            </span>
            <div id="Books-Available">

                <ul class="Library-Data">

                    <form class="Library-Box" style="padding: 0;" id="borrow-form" action="/Library/borrow"
                        method="GET"> <select name="books" id="books" onclick="showButton()" form="borrow-form">

                            <option value="" selected disabled hidden>Search Book Here</option>

                            <%for(let i=0;i<Books.length;i++){%>
                                <%if(Books[i].Book_Available==='True' ){%>

                                    <option name="book_ID" value=<%=Books[i].Book_ID%>><%=Books[i].Book_Name%>
                                            <%}%>
                                    </option>
                                    <%}%>
                        </select>
                        <button id="hidden-btn">Borrow Search
                            Book?</button>
                    </form>


                    <%Books.forEach((book)=>{%>

                        <%if(book.Book_Available==='True' ){%>
                            <form action="/Library/borrow" method="POST" id="borrow-form">
                                <li class="Library-Box">
                                    <input name="bookID" type="text" value=<%=book.Book_ID%> style="display: none;">
                                    <h5>
                                        <%=book.Book_Name%>
                                    </h5>
                                    <h5>
                                        <%=book.Book_Author%>
                                    </h5>
                                    <button>Borrow</button>
                                </li>
                            </form>
                            <%}%>
                                <%})%>
                                    <!-- </div> -->
                </ul>
            </div>
            <div id="Books-Borrowed">

                <li class="Library-Box" style="background:var(--dark); color:var(--light)">
                    <h5> Book Name
                    </h5>
                    <h5>
                        Issue Date
                    </h5>
                    <h5>
                        Charges
                    </h5>
                    <h5 style="text-align: center; width:50%;">
                        Return Status
                    </h5>
                </li>

                <%for(let i=0;i<borrowedBooks.length;i++){%>
                    <li class="Library-Box">

                        <h5>
                            <%=borrowedBooks[i].Book_Name%>
                        </h5>
                        <h5>
                            <%= borrowedBooks[i].Issue_Date%>
                        </h5>
                        <h5>
                            <%if(charges[i]=== 0){%>
                                Return On Time
                                <%}else{%>
                                    <span style="color:red">
                                        <%=charges[i]%>
                                    </span>
                                    <%}%>
                        </h5>
                        <%if( borrowedBooks[i].Return_Date===null ){%>
                            <% var url='/Library/return/' +borrowedBooks[i].book_ID%>

                                <form method="POST" id="form-return" 
                                    action=<%=url%> >

                                    <button style="">Return</button>
                                </form>
                                <%} else{%>
                                    <h5 style="
                                            text-align: center; width:50%;">
                                        <%= borrowedBooks[i].Return_Date%>
                                    </h5>
                    </li>


                    <%}%>
                        <%}%>


            </div>
        </section>

        <script>

            const goToBooksBorrowed = () => {

                document.getElementById("Books-Available").style.display = 'none';
                document.getElementById("Books-Borrowed").style.display = 'block'
                document.getElementById("library-btn").classList.remove("active-btn");
                document.getElementById("borrowed-btn").classList.add("active-btn");
            }

            const goToBooksAvailable = () => {
                document.getElementById("Books-Available").style.display = 'block';
                document.getElementById("Books-Borrowed").style.display = 'none';

                document.getElementById("borrowed-btn").classList.remove("active-btn");
                document.getElementById("library-btn").classList.add("active-btn");
            }


            const showButton = () => {

                document.getElementById("hidden-btn").style.display = 'block';

            }
            const checkIndex = () => {

                let i = document.getElementById('inputID').value;
                console.log(i);
            }
        </script>

</body>

</html>