<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/index.css">
    <link rel="stylesheet" href="/assets/Navbar.css">
    <link rel="stylesheet" href="/assets/Library.css">
</head>

<body>

    <%- include("./partials/StudentNavbar.ejs") %>

        <section class="Library">
            <span class="Library-Heading">
                <a class="Library-Heading-Box active-btn" id="library-btn" onclick="goToBooksAvailable()">Library</a>
                <a class="Library-Heading-Box" id="borrowed-btn" onclick="goToBooksBorrowed()">Books Borrowed</a>
            </span>
            <div id="Books-Available">

                <ul class="Library-Data">
                    <!-- <div class="Library-Box"> -->
                    <!-- <h5>Book Name</h5> -->
                    <!-- <h5>Author</h5> -->
                    <%Books.forEach((book)=>{%>
                        <%if(book.Book_Available==='True' ){%>
                            <form action="/Library/borrow" method="POST">
                                <li class="Library-Box">
                                    <input name="bookID" type="text" value=<%=book.Book_ID%> style="display: none;">
                                    <h5>
                                        <%=book.Book_Name%>
                                    </h5>
                                    <h5>
                                        <%=book.Book_Author%>
                                    </h5>
                                    <button>Borrow</button>
                                </li>
                            </form>
                            <%}%>
                                <%})%>
                                    <!-- </div> -->
                </ul>
            </div>
            <div id="Books-Borrowed">

                <%borrowedBooks.forEach((borrowedBook)=>{%>
                    <form action="/Library/return" method="POST">
                        <li class="Library-Box">
                            <%Books.forEach((book)=>{%>
                                <%if(borrowedBook.Book_ID===book.Book_ID){%>
                                    <input name="returnBookID" type="text" value=<%=book.Book_ID%> style="display: none;">
                                    <h5>
                                        <%=book.Book_Name%>
                                    </h5>
                                    <h5>
                                        <%=borrowedBook.Issue_Date%>
                                    </h5>
                                    <%if(borrowedBook.Return_Date===null ){%>
                                        <button>Return</button>
                                        <%} else{%>
                                            <h5 style="
                                            text-align: center; width:50%;">
                                                <%=borrowedBook.Return_Date%>
                                            </h5>
                                            <%}%>
                                                <%}%>

                                                    <%})%>
                        </li>
                    </form>
                    <%})%>


            </div>
        </section>

        <script>

            const goToBooksBorrowed = () => {

                document.getElementById("Books-Available").style.display = 'none';
                document.getElementById("Books-Borrowed").style.display = 'block'
                document.getElementById("library-btn").classList.remove("active-btn");
                document.getElementById("borrowed-btn").classList.add("active-btn");
            }

            const goToBooksAvailable = () => {
                document.getElementById("Books-Available").style.display = 'block';
                document.getElementById("Books-Borrowed").style.display = 'none';

                document.getElementById("borrowed-btn").classList.remove("active-btn");
                document.getElementById("library-btn").classList.add("active-btn");
            }



        </script>

</body>

</html>