<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Courses</title>

    <%- include("./partials/NavbarCSS.ejs") %>
        <%- include("./partials/defaultCSS.ejs") %>
            <%- include("./partials/CoursesCSS.ejs")%>
</head>

<body>
    <%- include("./partials/StudentNavbar.ejs") %>

        <section class="Current-Courses">
            <h1 class="Courses-Heading">Current Courses</h1>
            <ul class="Courses-Data">
                <% CurrentCourses.forEach((course)=>{%>

                    <li class="Courses-Box">
                        <span>
                            <h5>
                                Course Name:
                                <%=course.CourseName%>
                            </h5>
                        </span>
                        <span style="justify-content: center;" class="Courses-Box-Batch">
                            <h5 class="Courses-Box-Batch">
                                Batch:
                                <%=course.YearTaken%>
                            </h5>
                        </span>
                        <span class="Courses-Links" style="justify-content: flex-end;">
                            <a href="">INFO</a>
                            <a href="/StudentAttendance">Attendance</a>
                        </span>
                    </li>

                    <% })%>
            </ul>
        </section>

</body>

</html>