<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student | Home</title>
    <%- include("./partials/NavbarCSS.ejs") %>
        <%- include("./partials/defaultCSS.ejs") %>

            <%- include("./partials/ProfileCSS.ejs") %>
</head>

<body>
    <%- include("./partials/StudentNavbar.ejs") %>

        <main class="Profile">

            <h1 class="Profile-Heading">Request For A Change Of Profile</h1>

            <div class="Profile-Data">

                <div class="Profile-Data-Box">
                    <h5 class="Profile-Data-Label">Registration ID</h5>
                    <h5 class="Profile-Data-Field">
                        <%=Student.StudentID%>
                    </h5>
                </div>
                <div class="Profile-Data-Box">
                    <h5 class="Profile-Data-Label">Full Name</h5>
                    <h5 class="Profile-Data-Field">
                        <%=Student.StudentName%>
                    </h5>
                </div>
                <div class="Profile-Data-Box">
                    <h5 class="Profile-Data-Label">Gaurdian Name</h5>
                    <h5 class="Profile-Data-Field">
                        <%=StudentInfo.GaurdianName%>
                    </h5>
                </div>
                <div class="Profile-Data-Box">
                    <h5 class="Profile-Data-Label">NIC Number</h5>
                    <h5 class="Profile-Data-Field">
                        <%=Student.StudentNIC%>
                    </h5>
                </div>
                <div class="Profile-Data-Box">
                    <h5 class="Profile-Data-Label">Gender</h5>
                    <h5 class="Profile-Data-Field">
                        <%=StudentInfo.Gender%>
                    </h5>
                </div>
                <div class="Profile-Data-Box">
                    <h5 class="Profile-Data-Label">Telephone</h5>
                    <h5 class="Profile-Data-Field">
                        <%=StudentInfo.StudentPhone%>
                    </h5>
                </div>
                <div class="Profile-Data-Box">
                    <h5 class="Profile-Data-Label">Department</h5>
                    <h5 class="Profile-Data-Field">
                        <%=Student.DepartmentName%>
                    </h5>
                </div>
                <div class="Profile-Data-Box">
                    <h5 class="Profile-Data-Label">Registration ID</h5>
                    <h5 class="Profile-Data-Field">
                        <%=Student.StudentID%>
                    </h5>
                </div>


            </div>

            <button class="Profile-btn">Modify</button>

        </main>

</body>

</html>