<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student | Home</title>
    <link rel="stylesheet" href="/assets/index.css">
    <link rel="stylesheet" href="/assets/Navbar.css">
    <link rel=" stylesheet" href="/assets/Profile.css">
</head>

<body>
    <%- include("./partials/StudentNavbar.ejs") %>

        <form class="Profile" action="/Modify/Student" method="POST">

            <h1 class="Profile-Heading">Request For A Change Of Profile</h1>

            <div class="Profile-Data">

                <div class="Profile-Data-Box">
                    <h5 class="Profile-Data-Label">Registration ID</h5>
                    <input class="Profile-Data-Field" value=<%=Student.StudentID%> />

                </div>
                <div class="Profile-Data-Box">
                    <h5 class="Profile-Data-Label">Full Name</h5>
                    <textarea name="" class="Profile-Data-Field" rows="1" readonly><%=Student.StudentName%></textarea>
                </div>
                <div class="Profile-Data-Box">
                    <h5 class="Profile-Data-Label">Gaurdian Name</h5>
                    <textarea name="" class="Profile-Data-Field" rows="1"
                        readonly><%=StudentInfo.GaurdianName%></textarea>
                </div>
                <div class="Profile-Data-Box">
                    <h5 class="Profile-Data-Label">NIC Number</h5>
                    <input class="Profile-Data-Field" value=<%=Student.StudentNIC%> readonly />
                </div>
                <div class="Profile-Data-Box">
                    <h5 class="Profile-Data-Label">Gender</h5>
                    <input class="Profile-Data-Field" value=<%=StudentInfo.Gender%> readonly />
                </div>
                <div class="Profile-Data-Box">
                    <h5 class="Profile-Data-Label">Department</h5>
                    <h5 class="Profile-Data-Field link" id="department-field">
                        <% var mailManager="mailto:" +Student.ManagerEmail %>
                            <%=Student.DepartmentName%> - Program Manager: <a href=<%=mailManager%>>
                                    <%=Student.DepartmentManager%>
                                </a>
                    </h5>
                </div>
                <div class="Profile-Data-Box">
                    <h5 class="Profile-Data-Label">Telephone</h5>
                    <input class="Profile-Data-Field" name="Telephone" value=0<%=StudentInfo.StudentPhone%>
                    type="number"
                    maxlength="11"
                    minlength="11" name="Telephone"
                    />

                </div>
                <div class="Profile-Data-Box">
                    <h5 class="Profile-Data-Label">Address</h5>
                    <textarea class="Profile-Data-Field" rows="1"
                        name="StudentAddress"><%=StudentInfo.StudentAddress%></textarea>
                </div>


            </div>

            <button class="Profile-btn">Modify</button>


        </form>

        <script>




        </script>

</body>



</html>