<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Courses</title>

    <%- include("./partials/NavbarCSS.ejs") %>
        <%- include("./partials/defaultCSS.ejs") %>
            <%- include("./partials/CoursesCSS.ejs")%>
</head>

<body>
    <%- include("./partials/StudentNavbar.ejs") %>

        <section class="Current-Courses">
            <h1 class="Courses-Heading">Current Courses</h1>
            <ul>
                <% CurrentCourses.forEach((course)=>{%>

                    <li class="Courses-Box">
                        <span>
                            <h5>
                                Course Name:
                                <%=course.CourseName%>
                            </h5>
                        </span>
                        <span style="justify-content: center;" class="Courses-Box-Batch">
                            <h5 class="Courses-Box-Batch">
                                Batch:
                                <%=course.YearTaken%>

                            </h5>
                        </span>
                        <span class="Courses-Links" style="justify-content: flex-end;">
                            <button
                                onclick="getInformation(<%=course.CourseID%>,<%=course.InstructorID%>)">INFO</button>
                            <button onclick='getAttendance(<%=course.CourseID%>)'>Attendance</button>

                        </span>
                    </li>

                    <% })%>
            </ul>
        </section>

        <script>

            const getAttendance = (ID) => {
                console.log(ID);
                window.location.href = "/StudentAttendance/" + ID;

            }

            const getInformation = (CourseID, InstructorID) => {
                window.location.href = "/StudentCourses/" + CourseID + "/" + InstructorID;
            }

        </script>

</body>

</html>